body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: color-mix(in lab, color percentage, color percentage);
}
h1{
    color:darkred;
    text-align: center
}
input, button {

font-family: Georgia, 'Times New Roman', Times, serif;
padding: 10px;
    font-size: 1rem;
    margin-top: 10px;
}
#answer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    padding: 15px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}